<div class="card horizontal valign wrapper">
    <div class="card image">
        <img src="assets/Images/Merca/{{product.img}}.jpg">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <small class="cat">{{product.category}}</small>
            <span class="card-title">{{product.title}}</span>
            <p>{{product.qty}} {{product.qty name}}</p>
            <p>color: verde</p>
        </div>
        <div class="card action center align">
            <div class="quantity row">
                <div class=" col l/ valign wrapper">
                    <a class="plus-btn col l1">
                        <i class="material-icons">remove</i>
                    </a>
                    <input type="text" class="center-align col l2" value="{{product.qty_c}}">
                    <a class=" minus-btn col l1">
                        <i class="material-icons" (click) ="addToCotizar()">add</i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</div>